body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav .active {
  text-decoration: underline !important;
}
.social-posts li {
  margin-bottom: 0.75em;
}
.social-posts li p {
  margin-bottom: 0;
}
.social-posts li .date,
.social-posts li .type {
  color: grey;
  font-size: 0.875em;
}
.social-posts li button {
  margin: 0.5em 0.25em 0.5em 0;
  display: inline-block;
}
.social-posts li .btn-link {
  color:forestgreen !important;
  text-decoration: underline !important;
}
.social-posts [aria-hidden="true"] {
  display: none;
}
.social-posts input[type="text"] {
  width: 100%;
}
